# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
.pyre/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
legacy/legacy_codebase/**
.idea/
.vscode/
*.swp
*.swo
*.swn
*.log
*.pot
*.py[cod]
*~
\#*\#
*.sqlite3
db.sqlite3
media/
.env
.env.local
.env.production
.env.test
.env.*
Pipfile.lock
poetry.lock
.DS_Store
Thumbs.db
