# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv
/legacy/legacy_codebase/chrome/
/legacy/legacy_codebase/chrome-win32/
/legacy/legacy_codebase/chromedriver/**
/legacy/legacy_codebase/chromedriver-win32/
/legacy/legacy_codebase/chromedriver-linux64/
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
.pyre/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache

.idea/
.vscode/
*.swp
*.swo
*.swn
*.log
*.pot
*.py[cod]
*~
\#*\#
*.sqlite3
db.sqlite3
media/
.env
.env.local
.env.production
.env.test
.env.*
Pipfile.lock
poetry.lock
.DS_Store
Thumbs.db
