version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn shipkz.wsgi:application --bind 0.0.0.0:8000 &
             daphne -b 0.0.0.0 -p 8001 shipkz.asgi:application"
    volumes:
      - static_volume:/var/www/static
      - media_volume:/var/www/media
    expose:
      - "8000"
      - "8001"
    depends_on:
      - db
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"
    environment:
      POSTGRES_DB: ${POSTGRES_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  nginx:
    image: nginx:latest
    ports:
      - "127.0.0.1:80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/var/www/static
      - media_volume:/var/www/media
    depends_on:
      - web
volumes:
  static_volume:
  media_volume:
  postgres_data:
