{% extends 'components/base.html' %}
{% block title %}Тарифы{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/text_insert.css' %}">
<div>
    <h1>Тарифы</h1>
    <br>
    <br>
        <h2>Тарифы из США</h2>
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки $1.4-1.6 за 100 грамм, округление до 100 грамм. Срок доставки 7-8 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
        <li>Мы максимально облегчаем посылки, удаляя лишнюю упаковку и заменяя ее на полиэтиленовые пакеты. Например, для вашей экономии, обувные коробки по умолчанию удаляются, а обувь упаковывается в пакеты. Если это сапоги на каблуке, для жесткости добавляется картон, что гарантирует сохранность. Если же вам нужно сохранить упаковку, пожалуйста, укажите это в комментариях к заказу.</li>
        <li>Отправка посылок из США по четвергам, получение пятница-суббота (7-8 дней) в Алматы или Астане.</li>
    </ul>

    <h2>Тарифы из Германии (ЕС)</h2>
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки $1.3 за 100 грамм, округление до 100 грамм. Срок доставки 14 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
    </ul>

    <h2>Тарифы из Англии</h2>
    <ul>
        <li><strong>Тариф за физический вес:</strong> Стоимость доставки $1.4 за 100 грамм, округление до 100 грамм. Срок доставки 14 дней.</li>
        <li><strong>Тариф за объемный вес:</strong> Для объемных и легких товаров применяется плата за объемный вес (кг) = длина (см) × ширина (см) × высота (см) / 5000.</li>
    </ul>

    <h3>Тарифы из Казахстана в РФ</h3>
    <ul>
        <li>Доставка в РФ по расценкам сдек для интернет-магазинов. Сроки 5-10 дней, в зависимости от тарифа.</li>
    </ul>

    <h3>Как посчитать полную стоимость заказа в рублях?</h3>
    <p>Мы даем вам сразу полную стоимость заказа и не маскируем ее. У стандартных форвардеров комиссия обычно спрятана в “спецкурсе” и нескольких комиссиях (комиссия за пополнение счета 4-5%, комиссия за выкуп 10-15%). Если вы аккуратно посчитаете, то мы даем конкурентную цену и наша итоговая цена немного ниже чем у стандартных российских форвардеров. Стоимость доставки особенно для мелких заказов, значительно ниже чем у стандартных форвардеров. У нас нет минимальной стоимости доставки и за доставку в казахстан посылки весом 100 грамм вы заплатите 160-190 руб. в зависимости от форвардера.</p>

    <p>Ниже находится калькулятор для расчета итоговой стоимости заказа, при доставке через форвардеров. Обязательно нужно знать примерный вес и габариты посылки, особенно если посылка крупная или тяжелая. Иначе вы не сможете правильно оценить стоимость доставки, а она платится не в момент заказа, а при получении на складе и после взвешивания.</p>

    <h3>Как посчитать стоимость заказа в USDT (TRC20)?</h3>
    <p>Самый выгодный способ заказа это оплата криптовалютой USDT (TRC20), комиссия сервиса в случае оплаты криптовалютой 15%. При оформлении заказа (заявки) в комментариях укажите, что вы будете оплачивать USDT.</p>

    <h3>Можно ли оплачивать собственной иностранной картой?</h3>
    <p>К сожалению, такой возможности мы предоставить не можем, это связано с требованием казахстанской таможни предоставлять банковскую выписку получателя посылки. Рекомендуем вам воспользоваться способом оплаты криптовалютой, тут минимальная комиссия.</p>
</div>



{% include 'components/calculator.html' %}

{% endblock %}