{% extends 'components/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
{% load static %}
<style>
    /* form.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="url"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button[type="submit"]:hover {
    background-color: darken(var(--main-color), 10%);
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: var(--main-color);
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


</style>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>

{% endblock %}