{% extends 'components/lk-base.html' %}
{% block lk_content %}
    <h2>Личный кабинет</h2>
    <p>
Добро пожаловать в личный кабинет.

Здесь вы можете оформить заявку на выкуп товара и отслеживать прогресс вашего отправления в разделе "Заказы".

После оформления заявки, вы можете удостовериться, что всё верно в разделе "Заявки".

После оплаты и выкупа товара, заявка исчезнет из раздела "Заявки" и появится в разделе "Заказы", где вы сможете отслеживать прогресс по вашему отправлению.

Также вы можете изменить настройки профиля в разделе "Настройки".

Скоро появится мессенджер для более удобного общения.
    </p>
{% endblock %}