html {
    font-size: 16px;
}



header {
    grid-row: 1 / 2;
    background-color: var(--main-color);
    width: 100%;
    overflow: hidden; /* Чтобы избежать прокрутки хедера */
}

.image-container {
    height: 300px; /* Фиксированная высота контейнера */
    overflow: hidden; /* Скрывает часть картинки, выходящую за пределы контейнера */
    position: relative;
}

.image-container img {
    width: 100%; /* Задает ширину картинки 100% от ширины контейнера */
    height: auto; /* Сохраняет пропорции картинки */
    position: absolute; /* Позволяет позиционировать картинку */
    top: 50%; /* Центрирует картинку по вертикали */
    left: 50%; /* Центрирует картинку по горизонтали */
    transform: translate(-50%, -50%); /* Центрирует картинку в контейнере */
    transition: transform 0.1s; /* Плавный переход для эффекта */
}

.short-menu,
.long-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}


@media (max-width: 425px) {
    .long-menu {
        display: none;
        flex-direction: column;
    }
    .short-menu {
        display: flex;
    }
}
@media (min-width: 426px) {
    .long-menu {
        display: flex;
        flex-direction: row;
    }
    .short-menu {
        display: none;
    }
}

.short-menu button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.spacer {
    flex-grow: 1;
}

.menu-item a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: #555;
}

main {
    grid-row: 2 / 3; /* Занимает вторую строку */
    padding: 8px;
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 1024px;
}

footer {
    grid-row: 3 / 4; /* Занимает третью строку */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.mark-main-color{
    color: var(--main-color);
}