* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --main-color: #00afca;
    --dark-theme: #2c4054;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input, textarea, select, button {
    border: none;
    outline: none;
}

body, h1, h2, h3, h4, h5, h6, p, div, header, footer, main, section, article {
    display: block;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}
