{% load static %}
 <style>
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            appearance: none !important;
            margin: 0 !important;
            max-height: 44px !important;
        }
		@media (max-width: 375px) {
  		.result-item-description {
    		display: none;
  					}
			}
        .DeliveryPrice{
            display:flex;
            flex-direction:column;
        }
        .sizeContainer{
            display:flex;
            justify-content:space-between;
			flex-wrap: wrap;
        }
        .sizeContainer input{
            max-width: 100px !important;
        }
        .calculator-container {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-direction: row;
        }
        .calculator {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            flex: 1;
        }
        .calculator h2 {
            color: #333;
        }
        .result-container h2 {
            color: #333;
        }

        .form-container {
            display: flex;
            flex-direction: column;
        }

        .calculator label {
            margin: 10px 0 5px 0;
        }
        .calculator input[type="text"],
        .calculator select {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }
        .checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .checkbox input {
            margin-right: 10px;
        }
        .calculators-button {
            padding: 10px 20px;
            background-color: #00afca;
            color: white;
            border: none;
            cursor: pointer;
        }
        .calculators-button:hover {
            background-color: rgba(0, 192, 202, 0.64);
        }
        .result-container {
            width: 100%;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .result-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            padding: 5px 0;
        }

        .result-total {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            margin-top: 20px;
            font-weight: bold;
        }
        .result-buttons {
            margin-top: 20px;
        }
        .result-item-name{
            font-weight: bold;
            margin: 0px !important;
        }
        .result-item-description{
            margin-bottom: 0px !important;
            margin-top: 0.3rem !important;
            color: #666666;
            font-size: 0.8rem !important;
            font-style: italic;
        }
        .result-item-value {
            font-size: 1.5rem;
            align-self: flex-end;
            font-weight: bold;
            white-space: nowrap;
        }
        .wightContainer {
            display: flex;
            flex-direction:column;
            margin-bottom: 10px;
        }
        .input-group {
            display: inline-flex;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
        }

        .input-prefix, .input-suffix {
            background-color: #eee;
            padding: 10px;
            display: inline-block;
        }

        .input-field {
            border: none;
            padding: 10px;
            outline: none;
            flex-grow: 1;
        }
    </style>
<div class="calculator-container">
    <div class="calculator" id="MyCalculator">
        <h2>Расчет заказа</h2>
        <div class="form-container">
            <div class = "CountryChoice">
                <label for="europe">Европа</label>
                <input type="radio" id="europe" name="country" value="EUROPE">
                <label for="usa">США</label>
                <input type="radio" id="usa" name="country" value="USA">
            </div>
            <label for="currency">Валюта</label>

            <select id="currency" name="currency">
                <option value="USD">USD - Доллар</option>
                <option value="EUR">EUR - Евро</option>
            </select>

            <label for="order-value">Стоимость заказа</label>
            <div class="input-group">
                <span class="input-prefix currency-prefix">none</span>
                <input type="number" id="order-value" class="input-field">
                <span class="input-suffix currency-suffix">none</span>
            </div>

            <div class="DeliverySection" id="DeliverySection" style="display:none;" >
                <div id = "DeliveryChoice" class="DeliveryPrice">
                    <label >Стоимость доставки в Казахстан</label>
                    <div class="input-group">
                        <span class="input-prefix currency-prefix">none</span>
                        <input type="number" id="deliveryCost" class="input-field">
                        <span class="input-suffix currency-suffix">none</span>
                    </div>
                </div>
                <div class = "wightContainer" id="weightContainer">
                    <label >Вес заказа</label>
                    <div class="input-group">
                        <span class="input-prefix">⚖️</span>
                        <input type="number" id="order-weight" class="input-field">
                        <span class="input-suffix">кг</span>
                    </div>
                </div>
                <div id="sizeContainer">
                    <label id = "sizeLabel">Объёмный вес</label>
                    <div class="sizeContainer" >
                        <div class="input-group">
                            <span class="input-prefix">📐</span>
                            <input type="number" id="height" class="input-field" placeholder="Высота">
                            <span class="input-suffix">см</span>
                        </div>
                        <div class="input-group">
                            <span class="input-prefix">📐</span>
                            <input type="number" id="length" class="input-field" placeholder="Длина">
                            <span class="input-suffix">см</span>
                        </div>
                        <div class="input-group">
                            <span class="input-prefix">📐</span>
                            <input type="number" id="width" class="input-field" placeholder="Ширина">
                            <span class="input-suffix">см</span>
                        </div>
                        <label id = "sizeLabelNumber"> 0кг</label>
                    </div>
                </div>
            </div>
            <br>
            <button class="calculators-button" id="calculate">Рассчитать</button>
        </div>
    </div>
    <div class="result-container" id="MyResult" style="display: none;">
        <div id="resultContainer">
            <h2>Результат расчета</h2>
        </div>
        <div class="result-buttons">
            <button class="calculators-button" id='TryAgain' type="button">Ещё раз</button>
            <button class="calculators-button" id='MakeOrder' type="button">Сделать заказ</button>
        </div>
    </div>
</div>

<script>
    const AjaxForm = "<?php echo $ajax_url; ?>"
    var MyData;
    let description3,result3,taxes,RealResult3;
    const MyCalculator = document.getElementById("MyCalculator");
    const MyResult = document.getElementById("MyResult");

    const UsdEurChanger = () => {
        let value = document.getElementById('currency').value;
        let PrefixElements = document.getElementsByClassName('currency-prefix');
        let SuffixElements = document.getElementsByClassName('currency-suffix');

        if (value == 'USD') {
            for (let i = 0; i < PrefixElements.length; i++) {
                PrefixElements[i].textContent = '$';
            }
            for (let i = 0; i < SuffixElements.length; i++) {
                SuffixElements[i].textContent = 'USD';
            }
        }
        else if (value == 'EUR') {
            for (let i = 0; i < PrefixElements.length; i++) {
                PrefixElements[i].textContent = '€';
            }
            for (let i = 0; i < SuffixElements.length; i++) {
                SuffixElements[i].textContent = 'EUR';
            }
        }
    }

    const CalculateCommission = (orderData, price, delivery) => {
        console.log('Ща будет результат коэффициент')


        let price_rub = parseFloat(price);
        let delivery_rub = parseFloat(delivery);
        let total = price_rub + delivery_rub;
        let usd = orderData.usd;
        let eur = orderData.eur;
        let curcur = orderData.CurrencyType;
        console.log(usd);
        console.log(eur);
        console.log(curcur);
        if (curcur === "USD"){
            console.log('USD KOF WAY');
            if (total >= usd * 499) {
                return 0.25;
            }else{
                return 0.3;
            }
        }
        else if (curcur ==='EUR') {
            console.log('EURO KOF WAY')
            if (total >= eur * 499) {
                return 0.25;
            } else {
                return 0.3;
            }

        }

    }

    const calculateVolumeWeight = () => {

        let height = document.getElementById("height").value;
        let length = document.getElementById("length").value;
        let width = document.getElementById("width").value;

        let resultField = document.getElementById("sizeLabelNumber");
        let result = (height * length * width)/5000;
        result = Math.round(result * 100) / 100;
        resultField.textContent  = result + "кг";
    }

    async function getData() {
        try {
            const response = await fetch(AjaxForm, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: 'action=get_exchange'
            });

            if (!response.ok) {
                throw new Error('Произошла ошибка при выполнении запроса');
            }

            const data = await response.json();

            if (data.result === 'error') {
                alert('Произошла ошибка: ' + data.message);
                return null;
            }
            return JSON.parse(data);
        } catch (error) {
            console.error('Произошла ошибка при отправке запроса:', error);
            return null;
        }
    }

    async function handleData() {
        MyData = await getData();
        console.log('incoming data');
        console.log(MyData);
    }

    function createItemElement(mainText,descriptionText,itemValue) {

        const resultItem = document.createElement("div");
        const paragraphContainer = document.createElement("div");
        const firstParagraph = document.createElement("p");

        const secondParagraph = document.createElement("p");
        const valueDiv = document.createElement("div");

        resultItem.className = "result-item";
        firstParagraph.className = "result-item-name";
        secondParagraph.className = "result-item-description";

        paragraphContainer.appendChild(firstParagraph);
        paragraphContainer.appendChild(secondParagraph);

        firstParagraph.textContent = mainText;
        secondParagraph.textContent = descriptionText;

        valueDiv.textContent = itemValue;
        valueDiv.className = "result-item-value";

        resultItem.appendChild(paragraphContainer);
        resultItem.appendChild(valueDiv);

        return resultItem;
    }

    function calculateCost(weight) {
        const priceRanges = {
            '1-2': 900,
            '3': 1100,
            '4': 1300,
            '5': 1500,
            '6': 1800,
            '7': 2000,
            '8': 2200,
            '9': 2400,
            '10': 2700,
            '11': 2900,
            '12-14': 3100,
            '15-30': 3300,
            '31-40': 4400,
            '41-50': 5500,
            '51-60': 6600
        };
    let roundedWeight = Math.round(weight);
    console.log('ЩА БУДЕТ ROUND');
    console.log(roundedWeight);

    if (weight < 1 && weight > 0) {
        return 900;
    }

    for (let range in priceRanges) {
        let [min, max] = range.split('-').map(Number);
        max = max || min;
        if (roundedWeight >= min && roundedWeight <= max) {
            return priceRanges[range];
        }
    }

    return "Спец тариф";
}
    handleData();
    UsdEurChanger();

    document.addEventListener('DOMContentLoaded', function() {
        const button = document.getElementById('calculate');
        const buttonAgain = document.getElementById('TryAgain');

        if (button) {
            button.addEventListener('click', function() {

                const currency = document.getElementById('currency').value;
                const priceInCurrency = document.getElementById('order-value').value;
                const weight = document.getElementById('order-weight').value;

                const currencyInfo = () => {
                    let MyInfo = {
                        TypeCurrency : currency,
                        RealCurrency : null,
                        FraudCurrency : null,
                        FraudDate : null,
                    }

                    if (currency === 'USD') {
                        MyInfo.RealCurrency = MyData.usd.price;
                        MyInfo.FraudCurrency = MyData.sber_usd.price;
                        MyInfo.FraudDate = MyData.sber_usd.data;
                        MyInfo.Coefficient = MyData.usd.price/MyData.eur.price;
                        MyInfo.usd = MyData.usd.price;
                        MyInfo.eur = MyData.eur.price;
                        MyInfo.CurrencyType = 'USD';

                    }

                    else if (currency === 'EUR'){
                        MyInfo.RealCurrency = MyData.eur.price;
                        MyInfo.FraudCurrency = MyData.sber_euro.price;
                        MyInfo.FraudDate = MyData.sber_euro.data;
                        MyInfo.usd = MyData.usd.price;
                        MyInfo.eur = MyData.eur.price;
                        MyInfo.CurrencyType = "EUR";
                    }
                    return MyInfo;
                }
                const OrderInfo = currencyInfo(MyData);

                OrderInfo.CountryChoice = MyData.CountryChoice;
                OrderInfo.DeliveryChoice = MyData.DeliveryChoice;

                OrderInfo.RealPriceInRub = Math.round(OrderInfo.RealCurrency * priceInCurrency);
                OrderInfo.FraudPriceInRub = Math.round(OrderInfo.FraudCurrency * priceInCurrency);

                OrderInfo.InsuranceCDEK = Math.round(OrderInfo.FraudPriceInRub * 0.005);

                OrderInfo.CDEK = calculateCost(weight);

                console.log('ORDER INFO ');
                console.log(OrderInfo);

                const result = document.getElementById("resultContainer");
                let description  = `${OrderInfo.FraudDate} 1 ${OrderInfo.TypeCurrency} = ${OrderInfo.FraudCurrency} RUB`;
                let result1 = `${OrderInfo.FraudCurrency} ₽`;
                const CurrencyItem = createItemElement("Курс на покупку в Сбербанк",description, result1);

                let description2 = `${priceInCurrency} ${currency} Х ${OrderInfo.FraudCurrency} ₽`;
                let result2 = `${OrderInfo.FraudPriceInRub} ₽`;
                const PriceItem = createItemElement("Стоимость заказа",description2,result2);

                if (OrderInfo.CountryChoice === 'usa') {
                    let getVolumeWeight = document.getElementById('sizeLabelNumber');
                    let VolumeWeight = getVolumeWeight.textContent.replace(/кг/g, '').trim();
                    let VolumeWeightNumber = parseFloat(VolumeWeight);

                    if (weight >= VolumeWeightNumber){
                        description3 = `${weight} X 16 X ${MyData.sber_usd.price} USD`;
                        result3 = `${Math.round(weight*16*MyData.sber_usd.price)} ₽`;
                        RealResult3 = weight*16*MyData.usd.price;
                        OrderInfo.CDEK = calculateCost(weight);
                    }else{
                        description3 = `${VolumeWeightNumber} X 16 X ${MyData.sber_usd.price} USD`;
                        result3 = `${Math.round(VolumeWeightNumber*16*MyData.sber_usd.price)} ₽`;
                        RealResult3 = VolumeWeightNumber*16*MyData.usd.price;
                        OrderInfo.CDEK = calculateCost(VolumeWeightNumber);
                    }

                } else if (OrderInfo.CountryChoice === 'europe') {
                    let deliveryFixedPrice = document.getElementById('deliveryCost').value;

                    if (deliveryFixedPrice) {
                        description3 = `Стоимость доставки ${deliveryFixedPrice} ${currency} X ${OrderInfo.FraudCurrency} ₽`;
                        result3 = `${Math.round(OrderInfo.FraudCurrency * deliveryFixedPrice)} ₽`;
                        RealResult3 = OrderInfo.RealCurrency * deliveryFixedPrice;
                    } else {
                        alert('Надо заполнить поле стоимости доставки');
                        return;
                    }

                } else {
                    alert('Надо выбрать регион');
                    return;
                }

                const DeliveryToKzItem = createItemElement("Стоимость доставки в Казахстан",description3,result3);

                let description4 = `Усредненное значение ${OrderInfo.CDEK} ₽ + страхование 0.5% ${OrderInfo.InsuranceCDEK} ₽`;
                let result4 = `${OrderInfo.CDEK + OrderInfo.InsuranceCDEK} ₽`;
                const CDEKitem = createItemElement("Доставка СДЕК из Казахстана в Россию",description4, result4);
                let description5 = `Расходы на перевод денег, конвертацию, таможенное сопровождение и пересылку.`;

                let commissionKOF = CalculateCommission(OrderInfo, OrderInfo.RealPriceInRub, RealResult3);

                result.appendChild(CurrencyItem);
                result.appendChild(PriceItem);
                result.appendChild(DeliveryToKzItem);
                result.appendChild(CDEKitem);

                let description6;
                let result6;
                if (currency === 'EUR' && priceInCurrency > 200) {
                    taxes = (priceInCurrency - 200) * 0.15;
                    description6 = `Сумма облагаемая сбором ${priceInCurrency - 200} ${currency} в 15%`
                    result6 = `${Math.round(taxes * OrderInfo.FraudCurrency)} ₽`;
                } else if (currency === 'USD' && priceInCurrency * OrderInfo.Coefficient > 200) {

                    taxes = (priceInCurrency * OrderInfo.Coefficient - 200) * 0.15;
                    taxes = Math.round(taxes);
                    description6 = `Сумма облагаемая сбором ${Math.round(priceInCurrency - 200 / OrderInfo.Coefficient)} ${currency} в 15%`
                    result6 = `${Math.round(taxes * OrderInfo.FraudCurrency)} ₽`;
                }
                let CommissionCalculate;
                if (taxes) {
                    console.log('200+ way');
                    const Taxes = createItemElement("Таможенный сбор свыше 200 евро", description6, result6);
                    result.appendChild(Taxes);

                    CommissionCalculate = (OrderInfo.RealPriceInRub + RealResult3) * (commissionKOF+1) + (taxes * OrderInfo.RealCurrency)*1.05 - (parseFloat(result3) + OrderInfo.FraudPriceInRub + taxes * OrderInfo.FraudCurrency);


                    CommissionCalculate = Math.round(CommissionCalculate);
                }else {
                    console.log('200- way');
                    CommissionCalculate = (OrderInfo.RealPriceInRub + RealResult3) * (commissionKOF+1) - (parseFloat(result3) + OrderInfo.FraudPriceInRub);
                    CommissionCalculate = Math.round(CommissionCalculate);
                }

                const Castoms = createItemElement('Услуги таможенного брокера ', "Примерная сумма","1000 ₽" );

                result.appendChild(Castoms);

                const result5 = `${CommissionCalculate} ₽`;
                const Commission = createItemElement("Наша комиссия", description5, result5);
                result.appendChild(Commission);
                let resultValues = document.querySelectorAll('.result-item-value');
                let totalSum = 0;

                for (let i = 1; i < resultValues.length; i++) {
                    let value = parseFloat(resultValues[i].textContent);

                    if (!isNaN(value)) {
                        totalSum += value;
                    }
                }
                totalSum = Math.round(totalSum);
                totalSum = `${totalSum} ₽`;

                let descriptionTotal;
                if (OrderInfo.CountryChoice === 'usa') {
                    let totalUperMegaSumm = (commissionKOF+1) * OrderInfo.RealPriceInRub;
                    totalUperMegaSumm = Math.round(totalUperMegaSumm);
                    descriptionTotal = `Выкуп до склада форвардера  ${totalUperMegaSumm} ₽ `
                } else {
                    descriptionTotal = "Примерная сумма к оплате"
                }

                const TotalResult = createItemElement("Итого",descriptionTotal, totalSum);
                result.appendChild(TotalResult);
                taxes = null;
                MyCalculator.style.display='none';
                MyResult.style.display='block';
            });
        }
        if (buttonAgain) {
            buttonAgain.addEventListener('click',function() {
                let resultContainer = document.getElementById('resultContainer');
                let divElements = resultContainer.getElementsByTagName('div');
                for (let i = divElements.length - 1; i >= 0; i--) {
                    let divElement = divElements[i];
                    divElement.parentNode.removeChild(divElement);
                }
                MyCalculator.style.display='block';
                MyResult.style.display='none';
            });
        }
        const usa = document.getElementById('usa');
        const europe = document.getElementById('europe');
        const deliverySection = document.getElementById('DeliverySection');
        const WeightContainer  = document.getElementById('weightContainer');
        usa.addEventListener('click', function() {
            let EuropeDeliveryContainer = document.getElementById('DeliveryChoice');
            EuropeDeliveryContainer.style.display = "none";
            let UsaBulkWeigh = document.getElementById('sizeContainer');
            UsaBulkWeigh.style.display = "block";
            MyData.CountryChoice = "usa";
            deliverySection.style.display = 'block';
            WeightContainer.style.display = 'flex';
        });
        europe.addEventListener('click', function() {
            let EuropeDeliveryContainer = document.getElementById('DeliveryChoice');
            EuropeDeliveryContainer.style.display = "none";
            let UsaBulkWeigh = document.getElementById('sizeContainer');
            UsaBulkWeigh.style.display = "block";
            MyData.CountryChoice = "usa";
            deliverySection.style.display = 'block';
            WeightContainer.style.display = 'flex';
        });
        let heightInput = document.getElementById("height");
        let lengthInput = document.getElementById("length");
        let widthInput = document.getElementById("width");
        heightInput.addEventListener("change", calculateVolumeWeight);
        lengthInput.addEventListener("change", calculateVolumeWeight);
        widthInput.addEventListener("change", calculateVolumeWeight);

        ExchangeChanger = document.getElementById('currency');
        ExchangeChanger.addEventListener('change',UsdEurChanger);

        let CreateOrder = document.getElementById('MakeOrder');
        CreateOrder.addEventListener('click', function(){
                window.location.href = 'https://shipkz.ru/request-form/';
            }
        )
    });

</script>
