{% extends 'components/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% load static %}
<style>
    .lk-container {
        display: grid;
        grid-template-columns: 200px 1fr; /* Левая колонка фиксированная, правая — гибкая */
        grid-gap: 20px;
        margin-top: 20px;
    }
    .lk-nav-container {
        grid-column: 1; /* Исправлено на правильный синтаксис */
        background-color: white;

        border-radius: 8px;

        display: flex;
        flex-direction: column;
    }
    .lk-menu-item {
        display: block;
        margin: 4px;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        color: var(--main-color);
        text-align: center;
        border: 3px solid var(--main-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        white-space: nowrap;
        transition: background-color 0.3s, color 0.3s;
    }

    .lk-menu-item:hover, .lk-menu-item.active {
        background-color: var(--dark-theme);
        border: 3px solid var(--dark-theme);
        color: white;
    }
    .lk-content-container {
        grid-column: 2;
        background-color: white;
        padding: 5px;
        border: 3px solid var(--main-color);
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
    .lk-content-container .order-form {
    box-shadow: none;
}
    /* Адаптивность для мобильных устройств */
    @media (max-width: 768px) {
        .lk-container {
            grid-template-columns: 1fr;
        }

        .lk-nav-container {
            flex-direction: row;
            flex-wrap: wrap;
            grid-column: 1;
        }
        .lk-content-container {
            grid-column: 1;
        }
    }
</style>

<div class="lk-container">
    <div class="lk-nav-container">
        <a class="lk-menu-item" href="{% url 'lk-create-order' %}">Оформить заявку</a>
        <a class="lk-menu-item" href="{% url 'lk-orders' %}">Ваши заказы</a>
        <a class="lk-menu-item" href="{% url 'lk-pre-orders' %}">Ваши заявки</a>
        <a class="lk-menu-item" href="{% url 'lk-messages' %}">Сообщения</a>
        <a class="lk-menu-item" href="#">Счет</a>
        <a class="lk-menu-item" href="{% url 'lk-profile' %}">Ваш профиль</a>
        <a class="lk-menu-item" href="{% url 'lk-logout' %}">Выход</a>
    </div>
    <div class="lk-content-container">
        {% block lk_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
