<!DOCTYPE html>
<html>
<head>
    <title>Пример чата</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .chat-container {
            width: 400px;
            margin: 20px auto;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: white;
        }
       
    </style>
</head>
<body>
    <div class="chat-container">
        
        <div class = "messageContainer">
            <div class="messageQuestion">messageText</div>
            <div class="spacer"></div>
        </div>



        <div class = "messageContainer">
            <div class="spacer"></div>
            <div class="messageAnswer">Привет, все хорошо, спасибо!</div>
        </div>
        <div class="message">Чем занимался сегодня?</div>
    </div>
</body>
</html>